#main-container {
  /*border: solid 1px;*/
  height: 73vh;
  /*width: 300vh;  */
}

agm-map {
  height: 100%;
  width: 208vh;
}
/*.col-md-4, */
.col-md-8 {

  padding-left: 0;
  height: 100%;
}

.rev-list {
  width: 500px;
  overflow-y: scroll;
}

.glyphicon-star {
  color: gold;
}
