<div id="home-container">
  <div class="jumobotron text-center" id="home-title">
    <p><font size="10">Welcome to Fam!</font></p>
  </div>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="false" [disableDoubleClickZoom]="true">
    <agm-marker *ngFor="let reco of recos" [latitude]="reco.lat" [longitude]="reco.lng">
      <agm-info-window class="info-window">
        <h4 class="page-header">
          {{reco.title}}
          <span *ngFor="let i of starArr.slice(0,reco.stars)" class="glyphicon glyphicon-star"></span>
        </h4>
        <h4>{{reco.name}}</h4>
        <p>Category: {{reco.categ}}</p>
        <p>Description: {{reco.desc}}</p>
        <p>Direction: {{reco.direct}}</p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
