#home-container {
  height: 100%;
  padding: 0;
  margin: 0;
}

#home-title {
  height: 10%;
}

agm-map {
  height: 90%;
}

.rev-list {
  width: 500px;
  overflow-y: scroll;
}

.glyphicon-star {
  color: gold;
}
