<div class="container-fluid">
  <h2 class="page-header">Profile</h2>

  <!-- Display user profile name and email-->
  <div *ngIf="user">
    <h2>{{user.name}}</h2>
    <ul class="list-group">
      <li class="list-group-item">Username: {{user.username}}</li>
      <li class="list-group-item">Email: {{user.email}}</li>
    </ul>

  <div ng-init = "usrn = user.username"></div>
  <!-- testing a filter system-->
  <form id="filter">
    <label>Filter reviews by username:</label>
    <input type="text" class="form-control" [(ngModel)]="user.username" name = "usrn" readonly/>
  </form>

  <!-- Display user reviews in a feed template iteratively-->
    <!--<div ng-switch on= "username">-->
      <div class="search-results" *ngFor="let reco of recos | filter:usrn">
        <!--
        <div ng-switch-when= user.username>-->
          <li class="list-group-item">
            <ul>
              <h4>{{reco.title}} || {{reco.stars}}/5</h4>
              <h4>{{reco.name}}</h4>
              <p>Category: {{reco.categ}}</p>
              <p>Description: {{reco.desc}}</p>
              <p>Direction: {{reco.direct}}</p>
              <p>By: {{reco.username}}</p>
              <!--<p>Picture</p>-->
            </ul>
          </li>
        <!--</div>
        Theoretically the default should print nothing
        <div ng-switch-default>

        </div>-->
      </div>


  </div>


</div>
