<h2 class="page-header">Profile</h2>
<div *ngIf="user">
  <h2>{{user.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
  </ul>
</div>

<div class="search-results" *ngFor="let reco of recos">
	<ul class="list-group">
      <li class="list-group-item">
        <h4>{{reco.title}}</h4>
        <h4>{{reco.name}}</h4>
        <p>Category: {{reco.categ}}</p>
        <p>Description: {{reco.desc}}</p>
        <p>Direction: {{reco.direct}}</p>
        <p>Picture</p>
      </li>
    </ul>
</div>
