<div class="search">
  <form class="form-horizontal">
    <div class="form-group form-group-sm row">
      <label class="col-sm-2 control-label">Location:</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="address" name="address" class="form-control" placeholder="eg. Santa Cruz"/>
      </div>
    </div>
    <div class="form-group form-group-sm row">
      <label class="col-sm-2 control-label">Category:</label>
      <div class="col-sm-10">
        <select class="form-control">
          <option>Hikes</option>
          <option>Restaurants</option>
          <option>Parks</option>
          <option>Other</option>
        </select>
      </div>
    </div>
    <div class="form-group form-group-sm row">
      <div class="col-sm-5 col-sm-offset-2">
        <button (click)="onSearch()" class="btn btn-sm btn-default btn-block">Search</button>
      </div>
      <div class="col-sm-5">
        <button (click)="onReview()" class="btn btn-sm btn-primary btn-block">Review</button>
      </div>
    </div>
  </form>
</div>
<!--<div><p>{{user.name}}</p></div>-->
<ng-template #reviewFalse>
  <div class="search-results">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let reco of recosList">
        <h4>{{reco.title}} {{reco.stars}}/5</h4>
        <h4>{{reco.name}}</h4>
        <p>Category: {{reco.categ}}</p>
        <p>Description: {{reco.desc}}</p>
        <p>Direction: {{reco.direct}}</p>
        <p>Picture</p>
      </li>
    </ul>
  </div>
</ng-template>
<div *ngIf="reviewBool; else reviewFalse" class="search-results form-group form-group-sm row">
  <h3 class="text-center">Review Section</h3>
  <form class="form-horizontal">
    <div class="form-group form-group-sm row">
      <label class="col-sm-2 control-label">Username:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="user.username" name="user.username" readonly/>
      </div>
    </div>
    <br>
    <div class="form-group form-group-sm row">
      <label class="col-sm-2 control-label">Title:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="eg. Santa Cruz Boardwalk" [(ngModel)]="name" name="name" />
      </div>
    </div>
    <br>
    <div class="form-group form-group-sm row">
      <label class="col-sm-2 control-label">Location: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="eg. 400 Beach St, Santa Cruz, CA 95060" [(ngModel)]="loc" name="loc" />
      </div>
    </div>
    <br>
    <!--
    <div class="form-group form-group-sm row">
      <label class="col-sm-2 control-label">lat: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="lat" readonly/>
      </div>
      <label class="col-sm-2 control-label">lng: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="lng" readonly/>
      </div>
    </div>
    <br>
    -->
    <div class="form-group form-group-sm row">
      <label class="col-sm-2 control-label">Star :</label>
      <div class="col-sm-10">
        <p><input type="text" placeholder="0-5" [(ngModel)]="star" name="star" /> /5</p>
      </div>
    </div>
    <br>
    <div class="form-group form-group-sm row">
      <label class="col-sm-2 control-label">Category: </label>
      <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="categ" name="categ">
          <option>Hikes</option>
          <option>Restaurants</option>
          <option>Parks</option>
          <option>Other</option>
        </select>
      </div>
    </div>
    <br>
    <div class="form-group form-group-sm row">
      <label class="col-sm-2 control-label">Description:</label>
      <div class="col-sm-10">
        <textarea rows="5" class="form-control" placeholder="Description of location/ activities/ accessability/ etc." [(ngModel)]="desc" name="desc"></textarea>
      </div>
    </div>
    <br>
    <div class="form-group form-group-sm row">
      <label class="col-sm-2 control-label">Direction:</label>
      <div class="col-sm-10">
        <textarea rows="5" class="form-control" placeholder="How do you get there?" [(ngModel)]="direct" name="direct"></textarea>
      </div>
    </div>
    <br>
    <!--
    <div class="form-group form-group-sm row">
      <label class="col-sm-2 control-label">Pictures:</label>
      <div class="col-sm-10">
        <textarea rows="5" class="form-control" placeholder="eg. Description of location/activities/accessability/etc."></textarea>
      </div>
    </div>
    <br>
    -->
    <div class="form-group form-group-sm row">
      <label class="col-sm-2 control-label">Pictures:</label>
      <div class="col-sm-10">
        <input type="file" name="img" multiple>
      </div>
    </div>
    <br>
    <div class="form-group form-group-sm row text-center">
      <div class="col-sm-10 col-sm-offset-2">
        <button (click)="submitReview()" class="btn btn-primary">Submit</button>
        <button (click)="cancelReview()" class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </form>
</div>
