.search {
  border-bottom: solid lightgray 1px;
  padding: 10px;
  height: 15%;
}

.recos-list {
  margin: 0;
  height: 85%;
  overflow-y: scroll;
}

.recos-list button {
  border-radius: 0;
}

.reco-form {
  padding: 5px;
  height: 85%;
  overflow-y: scroll;
}

.reco-form .form-group {
  margin: 0;
}
