#main-container {
  /*border: solid 1px;*/
}

.sebm-google-map-container {
  height: 600px;
}

.col-md-4, .col-md-8 {
  padding: 0;
}

.search {
  border-bottom: solid 1px;
  padding: 7px;
  margin: 0;
}

.form-group {
  margin: 0;
}
